body{
    background-color: rgba(218, 58, 9, 0.619);
    font-family: 'Poppins', sans-serif;
}
.main
{
    text-align: center;
    font-size: 50px;
}
.players{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.player{
    text-align: center;
    font-size: 30px;
    color: crimson;
}
img{
    height: 200px;
    width: 200px;
}



@media only screen and (max-width: 425px)
{
    .main
{
    text-align: center;
    font-size: 20px;
}
.players{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.player{
    text-align: center;
    font-size: 8px;
    color: crimson;
}
img{
    height: 70px;
    width: 70px;
}
}
@media only screen and (max-width: 768px)
{
    .main
{
    text-align: center;
    font-size: 40px;
}
.players{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.player{
    text-align: center;
    font-size: 20px;
    color: crimson;
}
img{
    height: 150px;
    width: 150px;
}
}
